@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/root/root.css);
@import url(./blocks/page/page.css);
@import url(./blocks/page/__header/page__header.css);
@import url(./blocks/header/header.css);
@import url(./blocks/header/__logo/header__logo.css);
@import url(./blocks/profile/profile.css);
@import url(./blocks/content/__profile/content__profile.css);
@import url(./blocks/profile/__avatar/profile__avatar.css);
@import url(./blocks/profile/__info/profile__info.css);
@import url(./blocks/profile/__name/profile__name.css);
@import url(./blocks/profile/__job/profile__job.css);
@import url(./blocks/button/button.css);
@import url(./blocks/profile/__edit-button/profile__edit-button.css);
@import url(./blocks/profile/__add-button/profile__add-button.css);
@import url(./blocks/profile/__add/profile__add.css);
@import url(./blocks/content/__cards/content__cards.css);
@import url(./blocks/cards/__elements/cards__elements.css);
@import url(./blocks/photo/photo.css);
@import url(./blocks/photo/__image/photo__image.css);
@import url(./blocks/photo/__title/photo__title.css);
@import url(./blocks/photo/__text/photo__text.css);
@import url(./blocks/photo/__vector/photo__vector.css);
@import url(./blocks/page/__footer/page__footer.css);
@import url(./blocks/footer/__text/footer__text.css);
@import url(./blocks/popup/popup.css);
@import url(./blocks/popup/__body/popup__body.css);
@import url(./blocks/popup/__heading/popup__heading.css);
@import url(./blocks/form/__item/form__item.css);
@import url(./blocks/popup/__save/popup__save.css);
@import url(./blocks/popup/_active/popup_active.css);
@import url(./blocks/popup/__close/popup__close.css);
@import url(./blocks/content/content.css);
@import url(./blocks/photo/__vector/_active/photo__vector_active.css);
@import url(./blocks/photo/__bin/photo__bin.css);
@import url(./blocks/popup/__photo/popup__photo.css);
@import url(./blocks/popup/__content/popup__content.css);
@import url(./blocks/popup/__text/popup__text.css);
@import url(./blocks/form/__item-error/form__item-error.css);
@import url(./blocks/form/_type/form__item_type_error.css);
@import url(./blocks/popup/__save/_disabled/popup__save_disabled.css);
@import url(./blocks/popup-image/popup-image.css);
@import url(./blocks/photo/__numlike/photo__numlike.css);
@import url(./blocks/photo/__group-like/photo__group-like.css);
@import url(./blocks/confirm-popup/__heading/confirm-popup__heading.css);
@import url(./blocks/confirm-popup/__yes/confirm-popup__yes.css);
@import url(./blocks/profile/__edit-photo/profile__edit-photo.css);
@import url(./blocks/photo/__bin/_active/photo__bin_active.css);
@import url(./blocks/form-confirm/form-confirm.css);
@import url(./blocks/header/__login/header__login.css);
@import url(./blocks/header/__exit/header__exit.css);
@import url(./blocks/header/__email/header__email.css);
@import url(./blocks/login/login.css);
@import url(./blocks/login/__form/login__form.css);
@import url(./blocks/login/__title/login__title.css);
@import url(./blocks/login/__item/login__item.css);
@import url(./blocks/form/__exit/form__exit.css);
@import url(./blocks/form/__confirm/form__confirm.css);
@import url(./blocks/popup-error/__title/popup-error__title.css);
@import url(./blocks/popup-error/__union/popup-error__union.css);
@import url(./blocks/popup-error/__image/popup-error__image.css);

